.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1000; 
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 75vw;
    max-width: 900px;
    height: auto;
    max-height: 80vh; 
    overflow-y: auto; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .popup-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
  }
  
  .buy-tickets-button, .like-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .buy-tickets-button:hover, .like-button:hover {
    background-color: #218838; 
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #555; 
  }
  
  .popup-close:hover {
    color: red;
  }
  